<div class="container">
	<div class="">

	<p>First Floor, Unit SPW F003, Sunway Pyramid West, Sunway Pyramid Shopping Mall, No.3 Jalan PJS 11/15, Bandar Sunway, 47500 Petaling Jaya, Selangor, Malaysia.</p>
	<p>Tel: +603 – 5650 5122 ( Family Park ) </p>
	<p>Tel: +603 – 5650 5121 ( Playland ) </p>
	<p>Support: enquiry@theparenthood.com.my</p>
	
	</div>
	
</div>